<div>
    <form action="/productos" method="POST">
        <p>Title</p>
        <input type="text" name="title">
        <p>Price</p>
        <input type="number" name="price">
        <p>Thumbnail URL</p>
        <input type="text" name="thumbnail">
        <button type="submit">Enviar Producto</button>
    </form>
</div>

